.header {
  padding: 20px 100px;
  margin-bottom: 30px;
}

#content {
  padding: 0 100px;
}

#content p {
  font-size: 2em;
}

.header h1 {
  text-align: center;
  background: url(/images/feb-14-small.png) 10% 50% no-repeat;
  line-height: 2.8em;
  font-size: 3.2em;
}

.header h2 {
  text-align: center;
  color: #aaa;
  margin-top: -25px;
}