.header {
  padding: 20px 100px;
  margin-bottom: 30px;
}

#content {
  padding: 0 100px;
}

#content p {
  font-size: 1.3em;
  line-height: 1.3em;
  padding-top: 10px;
}

#content ul li {
  font-size: 1.2em;
  line-height: 1.4em;
  color: #aaa;
}

.header h1 {
  text-align: center;
  background: url(/images/feb-14-small.png) 12% 30% no-repeat;
  line-height: 2.8em;
  font-size: 3.0em;
  height: 4em;
}

.header h2 {
  text-align: center;
  color: #aaa;
  margin-top: -78px;
}